table, th, td {
	border: 1px solid !important;
	width: 50% !important;
}

.soap-data {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	background-color: #F0F0F0;
	border: 2px solid black;
}

.tablcont {
	width: 30%;
	padding-left: 20px;
	margin: 0 0 0 auto;
}

.chart-container {
	min-width: 100px !important;
	min-height: 300px !important;
}

h2 {
	padding-top: 50px !important;
	text-align: center;
}